/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ==== end of reset ==== */




/* ==== main content and layout ==== */

h1 {
	height: 60px;
	max-width: 20em; /* why different to mainContent now? */
}

h1, #mainContent {
	margin: 0 auto;
}

#mainContent {
	margin-top: 30px;
	max-width: 50em;
}

.formSection {
	margin-bottom: 10px;
}

.formSection:last-child {
	margin-bottom: 0;
}

#results li {
	margin: 20px 0;
	clear: both;
}

#results span.thumbnail {
	float: left;
	margin: 0 20px 20px 0;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

/* ------>>> LESS THAN 50em <<<------ */

@media only screen and (max-width: 50em), only screen and (max-device-width: 50em) {

#mainContent {
	padding: 0 10px;
}

h1 {
	margin-left: 10px;
}


} /*end of media query max-width 50em */



/* ------>>> LESS THAN 50em <<<------ */

@media only screen and (max-width: 30em), only screen and (max-device-width: 30em) {

.thumbnail {
	display: none;
}



} /*end of media query max-width 50em */




/* ==== design ==== */

header {
	background-color: #58bfc4;
}


form {
	background-color: #ddf2f3;
	padding: 10px;
}

#results ul {
	list-style-type: none;
}

#pagination, #results {
	margin-top: 20px;
}

#pagination p {
	white-space: nowrap;
	display: inline-block;
}

.resultsNumber {
	float: left;
}

.pageCount {
	float: right;
}


#nextArrow, #previousArrow  {
	width: 2em;
	height: auto;
	border: 2px solid #58bfc4;
}

#previousArrow  {
	margin-right: 10px;
}

#nextArrow  {
	margin-left: 10px;
}

.pageCount a {
	text-decoration: none;
	display: inline-block;
	height: 100%;
	padding: 0 0.5em;
}

#nextArrow.disabled, #previousArrow.disabled {
	border-color: #fff;
}

#nextArrow.disabled a, #previousArrow.disabled a {
	visibility: hidden;
}

span.a11y-hide {
	position: absolute;
	width: 0px;
	right: 5000px;
}

span.a11y-disabled {
	display: none;
}

button {
    height: 2em;
    width: 8em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 6px;
    border: 1;
    background-color: #58bfc4;
    color: white;
}


/* ==== type ==== */

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
	font-size: 0.75em;
	line-height: 1.5em;
}

h1 {
	font-size: 30px;
	line-height: 55px;
	color: #fff;
}

p, label {
	margin-bottom: 0.4em;
}

#results h2 {
	font-weight: bold;
	font-size: 1.1em;
	position: relative;
	top: -4px;
}

#results a {
	text-decoration: none;
	color: #58bfc4;
}

.date {
	text-align: right;
	font-size: 83.333333333%;
	font-weight: bold;
}

/* ==== form elements ==== */

input[type=text] {
	margin-bottom: 0.4em;
	width: 100%;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
}

button, label {
	display: block;
}

.title, .em {
	font-style: italic;
}

.strong {
	font-style: bold;
}

/* ==== images ==== */

h1 span.logo {
	position: relative;
	top: 7px;
	margin-right: 10px;
	float: left;
	display: none; /* remove when I have the logo */
}




